# SPDX-FileCopyrightText: Josef Andersson
#
# SPDX-License-Identifier: CC0-1.0

---
name: REUSE Compliance

on: [workflow_call] # yamllint disable-line rule:truthy

jobs:
  reuse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 7
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v1
